<div class="content">
    <div fxLayout="row" fxLayoutAlign="space-evenly center" class="section1" data-aos="fade-down" data-aos-duration="1000">
        <div fxFlex="100%" fxFlex.lt-md="100%" fxFlex.lt-sm="100%">
            <h1 class="main-title">Acerca de Nosotros</h1>
            <h1 class="main-subtitle">“Somos una empresa dedicada a proveer a los detallistas de repuestos dominicanos los mejores productos que respondan a las necesidades del mercado a través de un servicio de calidad que le proporcione el mayor beneficio posible a nuestros
                clientes.”
            </h1>
        </div>

        <div class="scroll-downs">
            <div class="mousey">
                <div class="scroller"></div>
            </div>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-evenly center" class="section2" data-aos="fade-up" data-aos-duration="1000">
        <div fxFlex="100%" fxFlex.lt-md="100%" fxFlex.lt-sm="100%">
            <h1 class="main-title text-align-center">Breve Historia de SMA</h1>
            <h1 class="main-subtitle text-align-justify">
                <p>
                    Servicios Moto Auto inició sus operaciones en el 1991 como una respuesta a las necesidades de variedad que imperaba en el mercado de partes para motocicletas en Republica Dominicana. Nuestro líder el Sr. Noe Grullon quien fue un visionario, ya tenia varios
                    años conociendo dicho mercado e identificó las oportunidades de la época y comenzó a brindar nuestros servicios en la zona este de la isla. Luego fue incorporando nuevas zonas hasta abarcar todo el país. Hoy por hoy nuestra empresa
                    esta reconocida como una fuente confiable de buenos negocios y oportunidades para todos los respuesteros dominicanos.
                </p>
                <p>
                    Hoy por hoy nuestra empresa esta reconocida como una fuente confiable de buenos negocios y oportunidades para todos los respuesteros dominicanos. Es bien conocida por su variedad de oferta así como por las prestigiosas marcas que distribuye.
                </p>
            </h1>
        </div>

        <div class="scroll-downs">
            <div class="mousey">
                <div class="scroller"></div>
            </div>
        </div>
    </div>
    <div fxLayout="column" fxLayout.lt-md="column" fxLayout.lt-sm="column" fxLayoutAlign="center stretch" class="section3" data-aos="fade-down" data-aos-duration="1000">
        <div fxFlex="34%" data-aos="fade-left" data-aos-duration="1000">
            <div fxFlex="50%" fxFlex.lt-md="50%" fxFlex.lt-sm="100%" class="bg1-section3">

            </div>
            <div fxFlex="50%" fxFlex.lt-md="50%" fxFlex.lt-sm="100%" fxLayout="column" fxLayoutAlign="center center">
                <h1 class="main-title">Mision</h1>
                <h1>Proveer a los detallistas de repuestos dominicanos los mejores productos que respondan a las necesidades del mercado.
                </h1>
            </div>
        </div>
        <div fxFlex="33%" fxLayout="row" data-aos="fade-right" data-aos-duration="1000">
            <div fxFlex="50%" fxFlex.lt-md="50%" fxFlex.lt-sm="100%" fxLayout="column" fxLayoutAlign="center center">
                <h1 class="main-title">Vision</h1>
                <h1>Ser la empresa que te beneficie más en tu negocio. 
                </h1>
            </div>
            <div fxFlex="50%" fxFlex.lt-md="50%" fxFlex.lt-sm="100%" class="bg2-section3">

            </div>
        </div>
        <div fxFlex="34%" data-aos="fade-left" data-aos-duration="1000">
            <div fxFlex="50%" fxFlex.lt-md="50%" fxFlex.lt-sm="100%" class="bg3-section3">

            </div>
            <div fxFlex="50%" fxFlex.lt-md="50%" fxFlex.lt-sm="100%" fxLayout="column" fxLayoutAlign="center center">
                <h1 class="main-title">Valores</h1>
                <h1>
                    <ul class="list">
                        <li>Servicio</li>
                        <li>Cooperación</li>
                        <li>Honestidad</li>
                        <li>Trabajo arduo y en equipo</li>
                    </ul>
                </h1>
            </div>
        </div>
    </div>
</div>