<div class="container">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayout.lt-sm="column" fxLayoutAlign="space-between center"
        class="section1" data-aos="fade-down" data-aos-duration="1000">
        <div fxFlex="50%" fxFlex.lt-md="50%" fxFlex.lt-sm="100%">
            <div fxLayout="column">
                <ngb-carousel #myCarousel="ngbCarousel" [interval]="2500" [pauseOnHover]="false"
                    [showNavigationArrows]="false" [showNavigationIndicators]="false">
                    <ng-template *ngFor="let product of brand?.products; let i = index" ngbSlide
                        [id]="'ngb-slide-' + i">
                        <div class="picsum-img-wrapper">
                            <img class="img-carousel" src="{{product?.logo}}">                            
                        </div>  
                        <div>
                            <h3 class="description-img-h"><b>{{product?.name}}</b></h3>
                            <p class="description-img-d">{{product?.use}}</p>
                        </div>                      
                    </ng-template>
                </ngb-carousel>
                
                <div class="card-container">
                    <drag-scroll>
                        <div *ngFor="let product of brand?.products; let i = index" drag-scroll-item
                            class="card-content" data-aos="fade-up" data-aos-duration="1000">
                            <div class="brand-card" (click)="imgChange(i)">
                                <img class="card-logo mat-elevation-z4" src="{{product?.logo}}" />
                            </div>
                        </div>
                    </drag-scroll>
                </div>
            </div>
        </div>
        <div fxFlex="40%" fxFlex.lt-md="40%" fxFlex.lt-sm="100%" data-aos="fade-left" data-aos-duration="1000">
            <img class="logo" src="{{brand?.logo}}" />
            <h1 class="main-title">{{brand?.name}}</h1>
            <h1 class="main-subtitle text-align-center">{{brand?.slogan}}</h1>
            <h1 class="main-subtitle ">{{brand?.description}}</h1>
        </div>
        <div class="scroll-downs">
            <div class="mousey">
                <div class="scroller"></div>
            </div>
        </div>
    </div>
</div>