<div class="container">
    <div fxLayout="column" fxLayout.lt-md="column" fxLayout.lt-sm="column" fxLayoutAlign="space-evenly center" class="section1">
        <div fxFlex="100%" fxFlex.lt-md="100%" fxFlex.lt-sm="100%">
            <img class="logo" src="{{brand?.logo}}" />
            <h1 class="main-title">{{brand?.name}}</h1>
            <h1 class="main-subtitle">{{brand?.slogan}}</h1>
        </div>
        <div fxFlex="100%" class="description-container">
            <h1 class="main-subtitle ">{{brand?.description}}</h1>
        </div>
        <div class="scroll-downs">
            <div class="mousey">
                <div class="scroller"></div>
            </div>
        </div>
    </div>
    <div fxLayout="column" fxLayout.lt-md="column" fxLayout.lt-sm="column" fxLayoutAlign="center center" class="section2">
        <h1 class="main-title">Productos</h1>
        <div class="card-container">
            <drag-scroll>
                <div *ngFor="let product of brand?.products" drag-scroll-item class="card-content">
                    <mat-card class="mat-elevation-z4 brand-card">
                        <mat-card-header>
                            <mat-card-title>
                                <img class="card-logo" src="{{product?.logo}}" />
                            </mat-card-title>
                            <mat-card-subtitle>{{product?.name}}</mat-card-subtitle>
                        </mat-card-header>
                    </mat-card>
                </div>
            </drag-scroll>
        </div>
    </div>
</div>