@use '@angular/material' as mat;
@import '@angular/material/theming';
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();
$my-blue: ( 50: #e6ecf5, 100: #c0cfe6, 200: #97afd5, 300: #6d8ec4, 400: #4d76b7, 500: #2e5eaa, 600: #2956a3, 700: #234c99, 800: #1d4290, 900: #12317f, A100: #b3c6ff, A200: #80a0ff, A400: #4d79ff, A700: #3466ff, contrast: ( 50: white, 100: white, 200: white, 300: white, 400: white, 500: white, 600: white, 700: white, 800: white, 900: white, A100: white, A200: white, A400: white, A700: white, ));
$my-app-primary: mat.define-palette($my-blue);
$my-app-accent: mat.define-palette(mat.$amber-palette);
$my-app-theme: mat.define-light-theme($my-app-primary, $my-app-accent);
@include mat.all-legacy-component-themes($my-app-theme);